$navbar-height: 70px;
$navbar-default-bg: #ACFFCD;  // Background color


// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";



body {
  padding: $navbar-height;
}

.center {
  text-align: center;
}

#logo {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;

  &:hover {
  }
}

.main-info {
  margin-top: 20px;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 1.2em;
}

.footer {
  margin-top: 50px;
  border-top: 1px solid grey;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 10px;
}

.well {
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input, textarea {
  padding: 5px;
}

input {
  height: auto !important;
}

span.picture {
  margin: 10px;
  input {
    border: 0;
  }
}

.show_recipe {
  margin: 10px;
}